S3method(print,sqldoc)
S3method(sqlexec,PostgreSQLConnection)
S3method(sqlexec,RMySQL)
S3method(sqlexec,RODBC)
S3method(sqlexec,SQLiteConnection)
export(cacheQuery)
export(execQuery)
export(getCacheFilename)
export(getParameters)
export(getQueries)
export(getSQL)
export(isql)
export(sqlPaths)
export(sqldoc)
export(sqlexec)
